@model Ikub2.Models.Product
@{
    ViewBag.Title = "Details";
}

<div class="container">
  <ul>
    <li>
      Id: @Model.id
    </li>
    <li>
      Name: @Model.name
    </li>
    <li>
      Price: @Model.price
    </li>
  </ul>
</div>


